.cadastro {
    max-width: 600px;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: left; /* Mantém o alinhamento do texto à esquerda */
}


label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
    box-sizing: border-box;
}

button{
    background: #ffcc33;
    border: none;
    padding: 14px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease-in;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background: #ffd969;
    color: rgb(51, 117, 249);
}